<section ng-controller="PilotsController">

  <form class="inputs" ng-submit="createPilot()">
    <input type="text" ng-model="newPilot.first_name" placeholder="...first name">
    <input type="text" ng-model="newPilot.last_name" placeholder="...last name">
    <input type="text" ng-model="newPilot.url" placeholder="...url">
    <input type="text" ng-model="newPilot.missions" placeholder="...missions">
    <input type="text" ng-model="newPilot.rank" placeholder="...rank">
    <input type="text" ng-model="newPilot.country" placeholder="...country">
    <input class="button" type="submit">
  </form>

<div class="pilots-container">
  <div class="info" ng-repeat="pilot in pilots">


   <img class="pic" ng-src="{{ pilot.url }}" alt="" />

    <h3 class="name">{{ pilot.first_name }} {{ pilot.last_name }}</h3>
    <p class="missions">Missions Done - {{ pilot.missions }} </p>
    <h4 class="rank"> {{ pilot.rank }} </h3>
    <h4 class="country"> {{ pilot.country }} </h4>

   <button class="remove" ng-click="remove($index, pilot)">Remove Pilot</button>

  </div>

</div>

</section>
